body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 20%;
    
}
header {
    height: 160px;
    padding-top: 5px;
    color: white;
    background-color: rgb(87, 138, 145);
}
.section-left{
    background-color: rgb(189, 171, 171);
    float: left;
    width: 250px;
    padding-block-start: 10px;
    text-align:justify;
    }
.section-right{
    background-color: white;
    float: right;
    width: 450px;
}
h4{
    margin-left: 10%;
    color: #156d5a;
    letter-spacing: .1rem;
    font-size: 18px;
}
hr.light{
    border-top: 2px solid #e8eeee;
    width: 90%;
    margin-top: .8rem;
    margin-bottom: 1rem;}
   

.info{
    width: 18px;
    margin-left:30px;
    }
.atouts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
}

.des{
    margin-left: 45%;
    margin-top: -15%;
}   
.right{
    padding: 0;
    margin: 5px;
    margin-top: -10%;
}

.srkl {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    background-color: white;
    width: 100%;
}

main {
    box-shadow: 30px 0px 40px rgb(196, 196, 196), -30px 0px 40px rgb(196, 196, 196);
    margin: auto;
    max-width: 900px;
}

.po {
    margin-top: 20px;
}

label {
    padding-right: 10px;
    height: auto;

}
.interet{
    text-align: justify;
}





